<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <% for (var i = 0; i < products.length; i++) { %>
        <div> 
            <a href="/products/<%=products[i]._id%>" >
            <%=products[i].name %>
            </a>
        </div>
    <% } %>
   
</body>
</html>